<!DOCTYPE html>
<html>
<head>
	<title>Registration and Login Form</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	{% if session.email %}
		<form id="logout-form" action="/logout" method="POST">
			You are Register {{ session.email }} 
			<button type="submit">logout</button>
		</form>	
		If you want to watch the forecast services please go to this page <a href="/secret">secret</a>

		If you want to cancel subscription press here <a class="button" href="/cancel_payment"> cancel_payment</a>
 	{% else %}
	<h1> Click here to log in with gmail</h1>
	'<a class="button" href="/login">Google Login</a>'
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
	{% endif %}
</html>
